<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  const gitment = new Gitment({
    owner: 'lchiffon',
    repo: 'blogbuilder',
    oauth: {
      client_id: '7ae350c4fb8aa708af09',
      client_secret: '1260522fee3e783d77736648af95caae8b8e015a',
    },
    // ...
    // For more available options, check out the documentation below
  })

  gitment.render('container')
  // or
  // gitment.render(document.getElementById('comments'))
  // or
  // document.body.appendChild(gitment.render())
</script>
